VITE_APP_NAME="FlowGIS"

# Backend Laravel Business Process API
VITE_API_BASE_URL=http://localhost:8001/api

# GeoServer WMS Service URL (untuk layer basemap / katalog spasial)
VITE_GEOSERVER_WMS_URL=http://localhost:8080/geoserver/wms

# AstraGIS Spatial Infrastructure (FastAPI Engine)
VITE_ASTRAGIS_API_URL=http://localhost:8000
